{% extends "aplicacion/index.html" %}
{%load static%}


{% block imagen %}
    
{% endblock imagen %}
    

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Acerca De</h1>
{% endblock titulo %}


{% block icono %}
    <div class="divider-custom-icon"><i class="fa-solid fa-user fa-xl"></i></i></div>
{% endblock icono %}  
    

{% block buscar %}
    
{% endblock buscar %}


{% block contenido %}
    
    <div class="container" style="width:350px">
        <h2 class="my-4">
            Tomas Deambrosi
        </h2>
        <p style="font-size:20px; text-align:justify">
            Soy un estudiante de Filosofía y un apasionado por el mundo de los datos. Recientemente he logrado certificarme como Data Analyst. Actualmente estoy ampliando mis habilidades con estudios en Python y Data Science. Mi objetivo es contribuir a un enfoque integral y equilibrado en el ámbito del análisis de datos, empleando mi formación en humanidades para enriquecer la comprensión y el impacto de las decisiones que se toman a partir de ellos.
        </p>
    </div>

    
{% endblock contenido %}
