{% extends "aplicacion/index.html" %}
{%load static%}


{% block imagen %}
    <img class="masthead-avatar mb-5" src="{% static 'assets/img/articulos.png' %}" alt="..." />
{% endblock imagen %}


{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Artículos</h1>    
{% endblock titulo %} 


{% block icono %}
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
{% endblock icono %}     


{% block buscar %}
    
{% endblock buscar %} 


{% block contenido %}

    <table>
        <tr>
            <td><h2 class= "my-1 mx-3">Artículos</h2></td>
            <td>
                <button type="button" class="btn btn-dark mx-3">
                    <a href="{% url 'articulos_create' %}" style="color: white; font-weight: bold; text-decoration: none">Añadir</a>
                </button>
            </td>
        </tr>
    </table>
    
    <table class="table table-striped m-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio de Compra</th>
                <th>Precio de Venta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for a in articulo_list  %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.nombre }}</td>
                <td>{{ a.categoria }}</td>
                <td>{{ a.precio_compra }}</td>
                <td>{{ a.precio_venta }}</td>
                <td>
                    <button type="button" class="btn" style="background: #0d6efd">
                        <a href="{% url 'articulos_update' a.id %}" style="color: white; text-decoration: none">
                            Editar
                        </a>
                    </button>
                    <button type="button" class="btn" style="background: #dc3545">
                        <a href="{% url 'articulos_delete' a.id %}" style="color: white; text-decoration: none">
                            Borrar
                        </a>
                    </button> 
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
    