{% extends "aplicacion/index.html" %}
{%load static%}


{% block imagen %}
    
{% endblock imagen %}
    

{% block titulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Sesión Finalizada Exitosamente</h1>
{% endblock titulo %}


{% block icono %}
    <div class="divider-custom-icon"><i class="fa-solid fa-right-to-bracket fa-xl"></i></div>
{% endblock icono %}  
    

{% block buscar %}
    
{% endblock buscar %}


{% block contenido %}
        
{% endblock contenido %}
